* {
    box-sizing: border-box;
}

a:link,
a:visited {
    background-color: #36454F;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
}

body {
    background-color: rgb(213, 224, 206);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 100%;
}

#contact-form-heading {
    align-items: center;
    margin: auto;
    text-align: center;
}

#contact-form {    
    height: 52vh;
    margin: auto;
    padding: 1em;
    position: relative;
    vertical-align: text-top;
    width: 45%;
}

.content {
    align-items: center;
    height: 75vh;
    margin-left: 18em;
    width: 75%;
}

#country-flex {
    display: flex;
    min-height: 50vh;
    position: relative;
}

#country-map {
    
    display: flex;
    height: 53vh;
    margin: auto;
    position: relative;
    width: 50%;
}

#country-table {
    display: flex;
    margin: auto;
    position: relative;
    width: 50%;
}

#home-text {
    height: 67vh;
    margin-right: 1em;
    margin-top: -1em;
    position: relative;
    vertical-align: text-top;
    width: 45%;
}

.dot {
    cursor: pointer;
    height: .5em;
    width: .5em;
    margin: 0 .15rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.0s;
}

#education-content {
    margin: auto;
    min-height: 44vh;
    padding-left: 1em;
    position: relative;
    vertical-align: text-top;
    width: 100%;
}

#education-content a {
    background-color: transparent;
    color: black;
    display: inline;
    text-align: left;
    width: 20em;
}

#education-content h4::before {
    content: '🎓';
}

#education-flex {
    border: .25em solid #36454F;
    display: flex;
    position: relative;
    max-width: 85%
}

#education-heading {
    align-items: center;
    margin: auto;
}

#education-logos {
    margin: auto;
    max-width: 100%;
    min-height: 47vh;
    padding: 1em;
    padding-right: 5em;
    position: relative;
    vertical-align: text-top;
}

#education-logos a {
    background-color: transparent;
    color: black;
    display: inline;
    margin: auto;
    padding: 1em;
    width: 15em;
}

#education-logos img {
    border: .15em solid #36454F;
    display: block;
    height: auto;
    margin: auto;
    width: 10em;
}

#family-flex {
    border: .15em solid red;
    display: flex;
    position: relative;
    min-height: 50vh;
}

#flex-header {
    align-items: center;
    background-color: #36454F;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#flex-header>div {
    padding: .15em;
}

footer {
    align-items: center;
    background-color: #36454F;
    bottom: 0;
    display: inline-flex;
    height: 3em;
    justify-content: center;
    overflow: auto;
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    font-size: 1.25em;
    padding-left: .5em;
    padding-right: .5em;
}

footer a:hover {
    color: gray;
}

h1,
h2 {
    text-align: center;
}

#home-flex {
    display: flex;
    height: 60vh;
    position: relative;
}

#home-iframe {
    border: none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

#home-media {
    border: .5em solid #36454F;
    display: flex;
    position: relative;
    width: 55%;
}

#home-text {
    height: 67vh;
    margin-right: 1em;
    margin-top: -1em;
    position: relative;
    vertical-align: text-top;
    width: 45%;
}

img {
    border: .25em solid #36454F;
}

#image-header {
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
}

input[type=text],
input[type=email],
select {
    border: .01em solid black;
    border-radius: .25rem;
    box-sizing: border-box;
    display: inline-block;
    margin: 1em 0;
    padding: 1em 1em;
    width: 100%;
}

input[type=submit] {
    border: .01em solid black;
    border-radius: .25rem;
    box-sizing: border-box;
    display: inline-block;
    font-size: large;
    font-weight: b;
    margin: 1em 0;
    padding: 1em 1em;
    width: 25%;
}

@keyframes fade {
    from {
        opacity: .25
    }

    to {
        opacity: 1
    }
}

label {
    font-weight: bold;
}

#movies-flex {
    border: .15em solid red;
    display: flex;
    min-height: 50vh;
    position: relative;
}

nav {
    height: auto;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
    width: 13em;
}

nav a {
    background-color: #36454F;
    border-radius: 1em;
    color: white;
    display: block;
    margin-left: 1em;
    margin-top: .75em;
    padding: .75em;
    text-decoration: none;
    overflow: auto;
}

nav a:hover {
    color: gray;
}

#page-container {
    height: 92vh;
    position: relative;
}

#profile-photo {
    border-radius: 50%;
}

#travel-country-image {
    display: block;
    margin: auto;
    padding-left: 8em;
    padding-top: 1em;
    width: 85%;
}

#travel-flex {
    display: flex;
    position: relative;
}

#travel-images img {
    display: block;
    height: auto;
}

#travel-photos {
    justify-content: center;
    margin: auto;
    padding-top: .5em;
    padding-bottom: 1.5em;
    position: relative;
    width: 50%;
}

.travel-slideshow {
    display: none;
}

.travel-slideshow img {
    width: 100%;
}

#travel-table {
    border: 1px solid #36454F;
    border-collapse: collapse;
    margin: auto;
    width: 95%;
}

#travel-table th {
    border: 1px solid #36454F;
    background-color: #36454F;
    color: whitesmoke;
    height: 2.5rem;
    text-align: center;
}

#travel-table tr {
    background-color: whitesmoke;    
    text-align: left;
}

#travel-table td {
    border: 1px solid #36454F;
    color:black;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

#travel-text {
    display: block;
    height: 57vh;
    margin: auto;
    position: relative;
    width: 50%;
}

#previous,
#next {
    border-radius: 0 .2rem .2rem 0;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.15em;
    margin-top: -1.25rem;
    position: absolute;
    padding: 1rem;
    top: 50%;
    transition: 0.6s ease;
    user-select: none;
    width: auto;
}

#next {
    right: 0;
    border-radius: .2rem 0 0 .2rem;
}

#previous:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 43rem) {
    nav {
        width: 100%;
        height: auto;
        position: relative;
    }

    nav a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 25rem) {
    nav a {
        text-align: center;
        float: none;
    }
}

#send-email-btn {
    background-color: #36454F;
    border-radius: 1em;
    color: white;
    display: block;
    font-size: 1.25em;
    margin-top: 1em;
    padding: 1rem;
    text-decoration: none;
}

#success {
    font-weight: bold;
}