<footer>
    <a href="https://www.linkedin.com/in/david-mulvihill/" target="_blank">LinkedIn</a>
    <a href="https://www.facebook.com/david.mulvihill.7/" target="_blank">Facebook</a>
    <a href="mailto:davidmulvihill@outlook.com">Email</a>
</footer>

