<footer>
    <a href="">LinkedIn</a>
    <a href="">Facebook</a> 
    <a href="">test footer</a>
    <a href="">test footer</a>
    <a href="">test footer</a>
    <a href="">test footer</a>    
</footer>