<header>
    <div id="flex-header">
        <div id="image-header">
            <img id="profile-photo" src="/images/profile.jpg" alt="profile" width="100" height="100">
        </div>
        <div id="header-title">
            <h1>My Life: David Mulvihill</h1>
        </div>
    </div>
</header>