<nav>
  <a href="/">Home</a>
  <a href="/education/">My Education</a>
  <a href="/family/">My Family</a>
  <a href="/books/">My Favorite Books</a>
  <a href="/movies/">My Favorite Movies</a>
  <a href="/hobbies/">My Hobbies</a>
  <a href="/kids/">My Kids</a>
  <a href="/wife/">My Wife</a>
  <a href="/history/">My Personal History</a>
  <a href="/travels/">My Travels</a>
  <a href="/resume/">My Resume</a>  
</nav>