<!DOCTYPE html>
<html lang="en">

<head>
    <title>CS-601 Assignment 3</title>
    <meta charset="UTF-8">
    <meta name="description" content="CS-601 Final Project">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="David Mulvihill">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="portfolio_style.css">
</head>

  <body>
    <header>
        <img src="logo.png" alt="project logo" class="page-logo">
    </header>
    <div class="side-menu">
        <a class="active" href="portfolio.html" target="_blank">Homepage</a>
        <a href="https://www.linkedin.com/in/david-mulvihill/" target="_blank">LinkedIn</a>
        <a href="https://www.facebook.com/" target="_blank">Facebook</a>
        <a href="https://www.uic.edu/" target="_blank">UIC</a>
        <a href="https://www.uis.edu/" target="_blank">UIS</a>
        <a href="https://www.bu.edu/" target="_blank">BU</a>
    </div>
    {{{body}}}
  </body>
</html>
