<div id="contact-form-heading">
    <h1>{{title}}</h1>
    <p>If you would like to reach me for further information, please fill out the form below and I will send you an email with further instructions.</p>
</div>
<div id="contact-form">

    <form>
        <label id="first-name-label" for="first-name">First Name</label>
        <input type="text" id="first-name"
            placeholder="Enter your first name...">

        <label id="last-name-label" for="last-name">Last Name</label>
        <input type="text" id="last-name"
            placeholder="Please enter your last name...">

        <label id="email-label" for="email">Email</label>
        <input type="text" id="email" placeholder="Please enter your email...">

        <div>
            <button id="send-email-btn">Contact Me!</button>
        </div>
    </form>
</div>

<script src="/javascripts/email.js"></script>