<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="country-flex">
    <div id="placeholder">
    </div>
    <div id="placeholder">
        <img src="/images/world-map.gif" width="750">
    </div>
</div>