<h1>{{title}}</h1>
<h3>The table on the right are all of the countries I have been to so far.</h3>
<h3>My goal is to visit every country in the world at least once, so I have a
    ways to go!</h3>
<div id="country-flex">
    <div id="country-map">
        <img src="/images/world-map.gif" width="700">
    </div>
    <div id="country-table">
        <table id="travel-table">
            <tr>
                <th colspan="5">Countries Visited</th>                
            </tr>
            <tr>
                <td>Egypt</td>
                <td>Tureky</td>
                <td>Spain</td>
                <td>India</td>
                <td>China</td>
            </tr>
            <tr>
                <td>Egypt</td>
                <td>Tureky</td>
                <td>Spain</td>
                <td>India</td>
                <td>China</td>
            </tr>
            <tr>
                <td>Egypt</td>
                <td>Tureky</td>
                <td>Spain</td>
                <td>India</td>
                <td>China</td>
            </tr>
            <tr>
                <td>Egypt</td>
                <td>Tureky</td>
                <td>Spain</td>
                <td>India</td>
                <td>China</td>
            </tr>
            <tr>
                <td>Egypt</td>
                <td>Tureky</td>
                <td>Spain</td>
                <td>India</td>
                <td>China</td>
            </tr>
            <tr>
                <td>Egypt</td>
                <td>Tureky</td>
                <td>Spain</td>
                <td>India</td>
                <td>China</td>
            </tr>
            <tr>
                <td>Egypt</td>
                <td>Tureky</td>
                <td>Spain</td>
                <td>India</td>
                <td>China</td>
            </tr>
            <tr>
                <td>Egypt</td>
                <td>Tureky</td>
                <td>Spain</td>
                <td>India</td>
                <td>China</td>
            </tr>
        </table>
    </div>
</div>