<div id="education-heading">
    <h1>{{title}}</h1>
    <h3>Below is a brief summary of my education.</h3>
    <h3>For more information about the instituion, click on the link to get more
        information about the institutution.</h3>
</div>
<div id="education-flex">
    <div id="education-content">
        <h4><a href="https://uic.edu" target="_blank">Univesity of Illinois at Chicago</a></h4>
        <ul>
            <li>Bachelor of Arts, Philosophy and Spanish: 1992</li>
            <li>Master of Arts, Linguistics: 2003</li>
        </ul>
        <h4><a href="https://uis.edu" target="_blank">Univesity of Illinois at Springfield</a></h4>
        <ul>
            <li>Bachelor of Science, Computer Science: 2018</li>
            <li>1992</li>
        </ul>
        <h4><a href="https://bu.edu" target="_blank">Boston University</a></h4>
        <ul>
            <li>Master of Science, Software Development, 2025</li>
        </ul>
    </div>
    <div id="education-logos">
        <a href="https://uic.edu" target="_blank"><img src="/images/uic.png" alt="UIC Logo"></a>
        <a href="https://uis.edu" target="_blank"><img src="/images/uis.png" alt="UIS Logo"></a>
        <a href="https://bu.edu" target="_blank"><img src="/images/bu.png" alt="BU Logo"></a>
        
    </div>
</div>
<script src="/javascripts/education.js"></script>