<h1>{{title}}</h1>
<div id="home-flex">
    <div id="home-text">
        <h2 id="home-text-title">Placeholder</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eos omnis nam, vero mollitia nihil corporis, vitae inventore autem saepe, ipsam iusto ipsum. Quisquam perferendis, suscipit fugit delectus molestiae obcaecati?</p>

    </div>
    <div id="home-media">
        <iframe class="responsive-iframe"
            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </div>
</div>
