<h1>{{title}}</h1>
<div id="home-flex">
    <div id="home-text">
        <h2 id="home-text-title">About me...</h2>
        <p>This website is the final project for CS-601 and it's about me!</p>
        <p>Watch the video to the right for a brief introduction from me (sorry, I had to do the video through YouTube, so you will have to bear some brief recommendations from YouTube at the end!).</p>
        <p>Use the navigation bar at the left to visit the different parts of the site.</p>
        <p>Enjoy!</p>

    </div>
    <div id="home-media">
        <div id="home-video">
        <iframe class="responsive-iframe"
            src="https://www.youtube.com/embed/fsipjY48Tg8?rel=0"></iframe>
    </div>
    </div>
</div>
