<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Final Project for CS 601 Summer 2024">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="David Mulvihill">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="page-container">
      {{> header}}
      <div class="menu">
        {{> nav}}
      </div>
        <div class="content">
          {{{body}}}
        </div>
      </div>
      {{> footer}}
    </div>
  </body>
</html>
