<h1>{{title}}</h1>

<div id="travel-flex">
    <div id="travel-text">
        <h2 id="travel-text-title">Indian Sub-Continent</h2>
        <p>While I have travelled to many different countries, one of the most amazing trips was an around-the-world trip that included four months in the Indian sub-continent.</p>
        <p>In the following photos, you will see the following:</p>
        <ul>
            <li>A camel safari trip I took in the deserts of Rajasthan, India</li>
            <li>Two residents I spent the day with in the desert.</li>
            <li>The border crossing on the Karakoram Highway between India and Pakistan.</li>
        </ul>

        <img src="/images/travel/india.png" style="width:75%">
    </div>
    <div id="travel-photos">
        <div class="travel-slideshow fade">
            <img id="panama" src="/images/travel/india.jpg">
        </div>
        <div class="travel-slideshow fade">
            <img id="kara" src="/images/travel/india2.jpg">
        </div>
        <div class="travel-slideshow fade">
            <img id="india" src="/images/travel/karakoram.jpg"  style="width:100%">
        </div>

        <a id="prev">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(1)"></span>
        </div>

    </div>
    <br>

</div>
<script src="../javascripts/travel_photos.js"></script>