<h1>{{title}}</h1>

<div id="travel-flex">
    <div id="travel-text">
        <h2 id="travel-text-title">Placeholder</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eos
            omnis nam, vero mollitia nihil corporis, vitae inventore autem
            saepe, ipsam iusto ipsum. Quisquam perferendis, suscipit fugit
            delectus molestiae obcaecati?</p>

        <img src="/images/travel/panama_country.jpg" style="width:90%">
    </div>
    <div id="travel-photos">
        <div class="travel-slideshow fade">
            <img src="/images/travel/panama_border.jpg" style="width:100%">
        </div>
        <div class="travel-slideshow fade">
            <img src="img2.jpg" style="width:100%">
        </div>
        <div class="travel-slideshow fade">
            <img src="img3.jpg" style="width:100%">
        </div>

        <a id="prev">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(1)"></span>
        </div>

    </div>
    <br>

</div>
<script src="../javascripts/travel_photos.js"></script>